{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小懵文案管理—上传历史</title>
     <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
     <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>

   
     <div class="container">
        <div id="profile" class="row">
            <div class="col-1">
                 <div id="back">
                     <a href="/file/"><img id="back_icon" src="{% static 'image/back.png'%}" alt=""></a>
                 </div>
               </div>
                 <div class="col">
                     <div class="row">
                         <div class="col-1">
                            <img id="profile_photo" src="{% static 'image/profile_photo.png'%}" alt="">
                         </div>
                         <div class="col-9">
                            <span>文案小能手</span></br>
                            <span>兼职:{{request.session.username}}</span>
                         </div>
                         <div class="col-2">
                            <a id="logout" href="/file/login/logoutAction">
                                <img id="logout_icon" src="{% static 'image/log-out.png'%}" alt="">退出
                            </a>
                         </div>
                     </div> 
                 </div>
         </div>
         <div id="search" class="row">    
             <div class="col-10">
                <input type="search" class="form-control ds-input" id="search_input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.5" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
             </div>
             <div class="col-2">
                <a id="search_button" class="btn btn-primary" href="#">搜索</a>
            </div>
                
         </div>
     
         <div class="row history_title">
           <div class="col">
             上传ID
           </div>
           <div class="col">
             人设
            </div>
            <div class="col">
                提交时间
            </div>
            <div class="col">
                状态
            </div>
            <div class="col">
                操作
            </div>
         </div>
         {% for item in uploadlist%}
            <div class="row history_content">
                <div class="col">
                    {{item.id}}
                  </div>
                  <div class="col">
                    {{item.profile_id}}
                   </div>
                   <div class="col">
                    {{item.createdate}}
                   </div>
                   {% if item.status == None %}
                   <div class="col">
                       未知
                   </div>
                   {% elif item.status == True %}
                   <div style="color:green;" class="col">
                       通过
                   </div>
                   {% elif item.status == False %}
                   <div style="color:red;" class="col">
                       未通过
                   </div>
                   {% endif %}
                   <div class="col">
                    <a class="btn btn-sm h_edit" href="/file/upload/content/?id={{item.id}}"><img src="{% static 'image/edit.png'%}" alt=""></a>
                   <a class="btn btn-sm h_delete" data_id="{{item.id}}" data-toggle="modal" data-target="#deleteConfirmModal" href="#"><img src="{% static 'image/delete.png'%}" alt=""></a>
                   </div>
            </div>
            {% endfor %}
     </div>
      


     <!-- Modal -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">删除</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
             <input type="hidden" id="id" value=''>
            您确定要删除本条上传的所有内容吗？
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary h_delete_confirm">确定</button>
            </div>
        </div>
        </div>
    </div>

    





       
       <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous"></script>
       <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
       <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
       <script src="{% static 'js/index.js' %}"></script>
</body>
</html>