{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文案</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/generator.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col">
                <img id="profile_photo" src="{% static 'image/profile_photo.png'%}" alt="">
                <h6 id="user_name">兼职小萌</h6>
                <ul id="side_list" class="">
                    <li id="file_upload" class="listactive"><a href="/upload/"> <img class="side_img" src="{% static 'image/file_upload.png'%}" alt="">文案提交</a></li>
                    <li id="file_history" class=""><a href="/upload/history/"><img class="side_img" src="{% static 'image/file_history.png'%}" alt=""> 提交历史</li>
                </ul>

            </div>
    
             <div id="content" class="col-11">
               
                  <!-- upload -->
                   <div id="file-_upload">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="/upload/">文案提交</a></li>
                        </ol>
                      </nav>
                      请选择你要上传的excel文件。
                      <form class="" action="/upload/excel/" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="file" name="excel_data">
                        <p></p>
                        <input type="submit" class="btn btn-primary" value="上传">
                     </form>
                   </div>
             </div>
        </div> 
        <!--        container-->
    </div>








    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/generator.js'%}"></script>
</body>
</html>