/* 左侧边栏 */
#sidebar{
   height:945px;
   background-color:#52607F;
   padding:0px;
}
#profile_photo{
   width:40px;
   height:40px;
   margin-top:20px;
   margin-left:50px;
}
#user_name{
   color:#ffffff;
   margin-top:20px;
   margin-left:38px;
}
#side_list{
   width:100%;
   list-style:none;
   color:#ffffff;
   padding:0px;
   margin-top:20px;
}
#side_list li{
   height:40px;
   padding-top:10px;
}
#side_list a{
   text-decoration:none;
   color:#ffffff;
}
.side_img{
   width:15px;
   height:15px;
   margin-right:10px;
   margin-left:20px;
}
.listactive{
   background-color:#487FFE;
}
#logout{
   position:absolute;
   color:#ffffff;
   margin-left:50px;
   bottom:30px;
}
#logout_logo{
    width:15px;
    height:15px;
}

/* 文案审查内容栏 */
#content{
   padding-top:30px;
   padding-left:60px;
   padding-right:60px;
}
.historyTitle{
   margin-top:10px;
   background-color:#c9c9c9;
}
.historyList{
   margin-top:10px;
   background-color:#ededed;
}
.edit{
   background-color:#03adfc;
}
.edit img{
   width:15px;
   height:15px;
}
.fileList{
   background-color:#ededed;
   margin-top:10px;
   padding-left:15px;
}
#file{
   height:800px;
   overflow-y:scroll;
   overflow-x:hidden;

}
.profile_content{
   background-color:#ededed;
   margin-right:10px;
   padding:5px;
   border-radius:10px;
}

/* 兼职管理 */
#parttimerList{
   padding-top:30px;
   padding-left:60px;
   padding-right:60px;
}
.parttimerTitle{
   background-color:#c9c9c9;
   margin-top:10px;
}
.parttimerContent{
   background-color:#ededed;
   margin-top:10px;
}
.parttimerContent a{
   background-color:#487FFE;
}
.parttimerContent img{
   width:10px;
   height:10px;
}
#addParttimer{
   margin-top:10px;
}